img {
   position:relative;
   left: 0;
   top: 50%;
   width: 100%;
   border-style: solid;
}

ul {
     padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    background-color: green;
} 

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.item1{
    
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 600;
    color: yellowgreen;

}

.item2{
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 600;
}

.active{
    margin-left: 300px;
}

.new{
    margin-right: 500px;
}

.legumes{
    margin-right: 30px ;
}

.new_legume{
    margin-right: 500px;
}


#legu{
    position: relative;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

th{
    border-width: 5px;
    border-color: white;
    background-color: green;
    color: yellowgreen;
}