img {
   position:relative;
   left: 0;
   top: 50%;
   width: 100%;
   border-style: solid;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
}

.vente{
    display: flex;

    
    
}

.legume{
    display: flex;
    flex-wrap: nowrap;
    
   
    
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #8dac8e;
}

#legu{
    position: relative;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

th{
    border-width: 5px;
    border-color: white;
    background-color: green;
    color: yellowgreen;
}